tbody#myTable { 
  width: auto;
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: black;
  
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 20px;
  flex-wrap: wrap;
}

.navbarNav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbarNav a.active {
  background-color: #04AA6D;
  color: white;
}

#navbarNav {
  background-color:white;
  overflow: auto;
  
}
  



/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: white;
}
.navbar-toggler {
  background-color: #ddd;
  color: white;





}

    img.posterUrl{
       float: right !important;




        width: 150px;

    }

  

            
   .table tbody+tbody {
       align-items: center;
       justify-content: center;
   }  


   #navbarNav.collapse.navbar-collapse {
     justify-content: center;
     background-color: #0d6efd;
     color: white;

   }

   nav.navbar.navbar-expand-lg.navbar-dark.black {
     background-color: #0d6efd;
     color: white;
     position: fixed;
     width: -webkit-fill-available;
     z-index: 1;
     padding: 0px;
   }